#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-top: 1px solid #e2e8f0;
  z-index: 1000;
}

input {
  field-sizing: content;
}

li {
  list-style-type: none;
}

.formButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  gap: 12px;
}

.loadingSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chakra-button {
  border: 1px solid black;
  padding: 2px 4px;
}

.chakra-button:hover {
  background-color: rgb(222, 123, 242);
  color: white;
}

select {
  color: rgb(222, 123, 242);
}

.stats-bottom {
  position: fixed;
  bottom: 20%;
  display: flex;
}

.conv-list {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 50vh
}