#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav {
  position: fixed;
  bottom: 5%;
  left: 0;
  width: 100%;
  z-index: 1000;
}

input {
  width: 75%;
}

li {
  list-style-type: none;
}