#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-top: 1px solid #e2e8f0;
  z-index: 1000;
}

input {
  width: 75%;
}

li {
  list-style-type: none;
}

.formButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  gap: 12px;
}

.loadingSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
}