#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-top: 1px solid #e2e8f0;
  z-index: 1000;
}

input {
  field-sizing: content;
}

.chakra-button {
  padding: 10px 25px;
  background-color: rgb(47, 109, 222);
  color: white;
}

select {
  color: rgb(47, 109, 222);
}