.appointmentBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  padding: 10% 10% 10% 10%;
  gap: 20px;
}

.conversionBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  padding: 10% 10% 10% 10%;
  gap: 20px;
}

.convTypeButton {
  background-color: rgb(250, 250, 250);
  color: black;
  border: 1px solid rgb(226, 228, 232);
}

.chakra-button:hover {
  background-color: rgb(241, 242, 244);
  border: 1px solid rgb(226, 228, 232);
  color: black;
}

.chakra-button::selection {
  background-color: rgb(47, 109, 222);
}

.apptField {
  max-width: 60px;
}

#apptSave {
  background-color: rgb(250, 250, 250);
  color: black;
  border: 1px solid rgb(226, 228, 232);
  width: 65px;
  height: 40px;
}

h2,
p,
label {
  align-self: stretch;
  text-align: left;
}

#itemDescripInput {
  align-self: stretch;
  width: 100%
}