.landing {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100dvh;
    gap: 20px;
}

.title {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

.logo {
    max-width: 100px;
    border-radius: 20px;
    filter: drop-shadow(1px 2px gray);
}

.description {
    color: gray;
    max-width: 40%;
    text-align: center;
    margin: 0 auto;
}

.formButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 12px;
}