.statsBottom {
    position: fixed;
    bottom: 20%;
    display: flex;
}

.convList {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 50vh
}

li {
    list-style-type: none;
}

.description {
    color: gray;
    font-size: 15px;
}