.stats-bottom {
    position: fixed;
    bottom: 20%;
    display: flex;
}

.conv-list {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 50vh
}

li {
    list-style-type: none;
}